In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('scraped_products_raw.csv')

In [5]:
df.head()

,Title,Price,Rating,Colors,Size,Gender,Timestamp
0,Unknown Product,$100.00,⭐ Invalid Rating / 5,5,M,Men,2025-05-20 14:57:43
1,T-shirt 2,$102.15,⭐ 3.9 / 5,3,M,Women,2025-05-20 14:57:43
2,Hoodie 3,$496.88,⭐ 4.8 / 5,3,L,Unisex,2025-05-20 14:57:43
3,Pants 4,$467.31,⭐ 3.3 / 5,3,XL,Men,2025-05-20 14:57:43
4,Outerwear 5,$321.59,⭐ 3.5 / 5,3,XXL,Women,2025-05-20 14:57:43

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      1000 non-null   object
 1   Price      1000 non-null   object
 2   Rating     1000 non-null   object
 3   Colors     1000 non-null   int64
 4   Size       1000 non-null   object
 5   Gender     1000 non-null   object
 6   Timestamp  1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [7]:
for col in df.columns:
    unique_vals = df[col].unique()
    if len(unique_vals) > 20:
        print(f"Kolom '{col}' memiliki {len(unique_vals)} nilai unik, tampilkan 20 pertama:")
        print(unique_vals[:20])
    else:
        print(f"Kolom '{col}': {unique_vals}")
    print("-" * 40)

Kolom 'Title' memiliki 901 nilai unik, tampilkan 20 pertama:
['Unknown Product' 'T-shirt 2' 'Hoodie 3' 'Pants 4' 'Outerwear 5'
 'Jacket 6' 'Crewneck 7' 'T-shirt 8' 'Hoodie 9' 'Pants 10' 'Jacket 12'
 'Crewneck 13' 'T-shirt 14' 'Hoodie 15' 'Pants 16' 'Outerwear 17'
 'Jacket 18' 'Crewneck 19' 'T-shirt 20' 'Pants 22']
----------------------------------------
Kolom 'Price' memiliki 859 nilai unik, tampilkan 20 pertama:
['$100.00' '$102.15' '$496.88' '$467.31' '$321.59' '$153.37' '$430.75'
 '$487.66' '$248.26' '$193.76' '$532.99' '$340.45' '$203.05' '$136.51'
 'Price Unavailable' '$52.60' '$343.75' '$81.81' '$82.85' '$269.98']
----------------------------------------
Kolom 'Rating' memiliki 23 nilai unik, tampilkan 20 pertama:
['⭐ Invalid Rating / 5' '⭐ 3.9 / 5' '⭐ 4.8 / 5' '⭐ 3.3 / 5' '⭐ 3.5 / 5'
 '⭐ 4.3 / 5' '⭐ 3.1 / 5' '⭐ 3.2 / 5' '⭐ 4.2 / 5' '⭐ 3.8 / 5' '⭐ 3.6 / 5'
 'Not Rated' '⭐ 3.4 / 5' '⭐ 4.9 / 5' '⭐ 3.7 / 5' '⭐ 4.6 / 5' '⭐ 4.0 / 5'
 '⭐ 4.5 / 5' '⭐ 3.0 / 5' '⭐ 4.4 / 5']
----------------------------------------
Kolom 'Colors': [5 3 8]
----------------------------------------
Kolom 'Size': ['M' 'L' 'XL' 'XXL' 'S']
----------------------------------------
Kolom 'Gender': ['Men' 'Women' 'Unisex']
----------------------------------------
Kolom 'Timestamp' memiliki 50 nilai unik, tampilkan 20 pertama:
['2025-05-20 14:57:43' '2025-05-20 14:57:45' '2025-05-20 14:57:48'
 '2025-05-20 14:57:50' '2025-05-20 14:57:53' '2025-05-20 14:57:55'
 '2025-05-20 14:57:58' '2025-05-20 14:58:00' '2025-05-20 14:58:03'
 '2025-05-20 14:58:06' '2025-05-20 14:58:08' '2025-05-20 14:58:11'
 '2025-05-20 14:58:13' '2025-05-20 14:58:16' '2025-05-20 14:58:18'
 '2025-05-20 14:58:21' '2025-05-20 14:58:23' '2025-05-20 14:58:25'
 '2025-05-20 14:58:28' '2025-05-20 14:58:30']
----------------------------------------